{% extends "auctions/layout.html"%}

{% block title %}{{ listing.title }}{% endblock title %}

{% block body %}
    <h1>Listing: {{ listing.title }} {{ listing.id }}</h1>
    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="listing-image" style="max-width: 300px;">
    {% else %}
        <p>No image provided.</p>
    {% endif %}
    <p style="font-size: 17px">{{ listing.description }}</p>
    <p class="font-weight-bold" style="font-size: 20px">${{ listing.price }}</p>
    <a href="{% url 'index' %}">Back to all listings.</a>
{% endblock body %}