{% extends "auctions/layout.html"%}

{% block title %}{{ listing.title }}{% endblock title %}

{% block body %}
Comments:
    {% for comment in listing.comments.all %}
        <p>
            <span class="font-weight-bold">{{ comment.author }}</span> &middot; {{ comment }}
        </p>
    {% endfor %}
<form action="{% url 'add_comment' listing.id %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <button type="submit">Add</button>
</form>
{% if error_min_value %}
    <p>Your bid must be greater than {{ listing.current_bid }}</p>
{% endif %}
<div class="card" style="width: 400px;">
    {% if listing.image_url %}
    <img class="card-img-top" src="{{ listing.image_url }}" alt="Card image cap">
    {% else %}
    <p class="card-top" style="text-align: center; margin: 100px;">No image specified</p>
    {% endif %}
    <div class="card-body">
        <strong>
            <h5 class="card-title">Listing: {{ listing.title }}</h5>
        </strong>
        <p class="card-text">Description: {{ listing.description }}</p>
        <p class="card-text">Starting Bid: ${{ listing.starting_bid }}</p>
        <a href="{% url 'index' %}">Back to all listings.</a>
         
    </div>
    <div class="card-body">
        <h5>Details:</h5>
        <ul>
            <li>Listed by: {{ listing.creator }}</li>
            <li>Category: {{ listing.category }}</li>
        </ul>
    </div>
</div>
{% if user.is_authenticated and listing.active_listing == True %}
<form action="{% url 'take_bid' listing.id %}" method="POST">
    {% csrf_token %}
    {{ bid_form }}
    <button type="submit">Place</button>
    Placed Bids: {{ listing.current_bid }} {{ request.user }}
</form>
{% endif %}
{% endblock body %}